@{
  Layout = "_Layout";
}

<h1>String Factory Management</h1>
<hr/>
<br>
<div class="wrapper">
  <div class="one"><h2>Engineers</h2><span>(add new)</span></div>
  <div class="two"><h2>Machines</h2><span>(add new)</span></div>
  <div class="three"></div>
  <div class="four"></div>
</div>